<% content_for :subtitle do %>
...with a name .com hipsters love!
<% end %>

<h1>All the world's articles</h1>

<%= link_to image_tag('/icons/add.png')+'Create an article', new_article_path %>

<div id="article_table">
<table>
  <tr>
    <th>Title</th>
    <th>Author Name</th>
    <th>Body</th>
    <th>Creation date</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%=h article.title %></td>
    <td><%=h article.author_name %></td>
    <td><%=h truncate(article.body, 100, "...") %></td>
    <td><%=h article.created_at.strftime("%A, %b. %e %Y") %></td>
    <td><%= link_to image_tag("/icons/magnifier.png"), article %></td>
    <td><%= link_to image_tag("/icons/page_white_edit.png"), edit_article_path(article) %></td>
    <td><%= link_to image_tag("/icons/cancel.png"), article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= pluralize(@articles.size, "article") %>

