<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Games: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
	<p style="color: green"><%= notice %></p>
	
	<div id="container">
		<div id="user_nav">
			<% if current_user %>
				Logged in as
				<%= link_to current_user, edit_member_user_path(:current) %>,
				<%= current_user.role_symbols %> |
				<%= link_to "Homepage", current_user.homepage %> |
				<%= link_to "Logout", logout_path %>
			<% else %>
				<%= link_to "Register", register_path %> |
				<%= link_to "Login", login_path %>
			<% end %>
		</div>
		<div id="masthead">
			<h1>Games</h1>
		</div>
	</div>

<%= yield %>

</body>

</html>
