<h1>Listing games</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Date Added</th>
    
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h link_to game.title, game_path(game) %></td>
    <td><%=h game.rating %></td>
    <td><%=h game.created_at.to_date %>
  </tr>
<% end %>
</table>
<br />

<%= will_paginate @games %><br />
<%= pluralize(@game_count, "game") %>