<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<div id="user_photo">
  <%= image_tag @user.photo %>
</div>


<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
