<h1>Your games</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.title %></td>
    <td><%=h game.rating %></td>
    <td><%= link_to 'Show', member_game_path(game) %></td>
    <td><%= link_to 'Edit', edit_member_game_path(game) %></td>
    <td><%= link_to 'Destroy', member_game_path(game), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>