<% content_for :subtitle do %>
... my cousin works for Bit.ly
<% end %>

<h1>Editing article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :author_id %><br />
  <%= f.select :author_id, @authors.collect {|a| [a.name, a.id]}, :include_blank => true %>

  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Save Changes' %>
  </p>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>