- content_for :subtitle do
  \...with a name .com hipsters love!
%h1 All the world's articles
= link_to image_tag('/icons/add.png')+'Create an article', new_article_path
#article_table
  %table
    %tr
      %th Title
      %th Author Name
      %th Body
      %th Creation date
    - @articles.each do |article|
      %tr
        %td= h article.title
        %td= h article.author_name
        %td= h truncate(article.body, 100, "...")
        %td= h article.created_at.strftime("%A, %b. %e %Y")
        %td= link_to image_tag("/icons/magnifier.png"), article
        %td= link_to image_tag("/icons/page_white_edit.png"), edit_article_path(article)
        %td= link_to image_tag("/icons/cancel.png"), article, :confirm => 'Are you sure?', :method => :delete
%br/
= pluralize(@articles.size, "article")