- content_for :subtitle do
  \... not just for the country of Spain
%h1 New article
= link_to image_tag('/icons/arrow_left.png')+'list all articles', articles_path
- form_for(@article) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :author_name
    %br/
    = f.text_field :author_name
  %p
    = f.label :body
    %br/
    = f.text_area :body
  %p
    = f.submit 'Create'