<% content_for :subtitle do %>
... what's an "Articl" in Spanish anyway?
<% end %>

<ul>
	<li>
<%= link_to image_tag('/icons/arrow_left.png')+'list all articles', articles_path %>
</li>
<li>
<%= link_to image_tag("/icons/page_white_edit.png")+"edit", edit_article_path(@article) %> 
</li>
<li>
<%= mail_to '', image_tag("/icons/email.png")+"email", :subject => @article.title, :body => article_url(@article), :title => 'email article' %>
</li>
</ul>
<br />

<h2>
  <%=h @article.title %>
</h2>

<p>
  By <%=h @article.author %> <%=h @article.number_of_edits %> edits since <%=h @article.created_at.strftime("%b. %e, %Y") %>.
</p>

<p>
  <%= simple_format(h(@article.body))  %>
</p>


